body
{
color: #eaeae5;
}

h1 
{
    font-family: arial;
    font-size: 30px;
    color: #222; /*These are hexadecimal codes. Do not worry about them for now.*/
}

img 
{
    height : 200px;
}

.thickborder 
{
    border: 4px solid #222;
    box-sizing:border-box;
}

blockquote 
{
     border-left: 4px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #477;
     max-width: 150px;
}

p 
{
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

div 
{
    border: 2px solid #222;
    height: 550px;
    float:left;
    margin: 5px;
}

@media screen and (min-width:0px) and (max-width:320px) 
{
    h1 
    {
        font-size: 20px;
    }
   
    img 
    {
         height : 100px;
    }

    .thickborder 
    {
        border: 2px solid #222;
        box-sizing:border-box;
    }

    blockquote 
    {
        border-left: 2px solid #888;
        padding-left: 3px;
        font-size: 11px;
        max-width: 75px;
    }

    p 
    {
        text-align: right;
        font-size: 10px;
        padding: 1px;
    }

    div 
    {
        max-height: 280px;
        min-height: 80px;
        margin: 3px;
    }
}
@media screen and (min-width:321px) and (max-width:480px)
{
h1 
    {
        font-size: 22px;
    }
   
    img 
    {
         height : 110px;
    }

    .thickborder 
    {
        border: 3px solid #222;
        box-sizing:border-box;
    }

    blockquote 
    {
        border-left: 3px solid #888;
        padding-left: 4px;
        font-size: 12px;
        max-width: 80px;
    }

    p 
    {
        text-align: right;
        font-size: 12px;
        padding: 1px;
    }

    div 
    {
        height: 350px;
        margin: 4px;
    }
}

@media screen and (min-width:481px) and (max-width:767px)
{
    h1 
    {
        font-size: 24px;
    }
   
    img 
    {
         height : 120px;
    }

    .thickborder 
    {
        border: 3px solid #222;
        box-sizing:border-box;
    }

    blockquote 
    {
        border-left: 4px solid #888;
        padding-left: 5px;
        font-size: 13px;
        max-width: 85px;
    }

    p 
    {
        text-align: right;
        font-size: 14px;
        padding: 1px;
    }

    div 
    {
        height: 380px;
        margin: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px)
{
     h1 
    {
        font-size: 26px;
    }
   
    img 
    {
         height : 140px;
    }

    .thickborder 
    {
        border: 4px solid #222;
        box-sizing:border-box;
    }

    blockquote 
    {
        border-left: 5px solid #888;
        padding-left: 6px;
        font-size: 14px;
        max-width: 90px;
    }

    p 
    {
        text-align: right;
        font-size: 15px;
        padding: 2px;
    }

    div 
    {
        max-height: 410px;
        margin: 6px;
    }

}

@media screen and (min-width:1025px) and (max-width:1280px)
{
    h1 
    {
        font-size: 28px;
    }
   
    img 
    {
         height : 160px;
    }

    .thickborder 
    {
        border: 5px solid #222;
        box-sizing:border-box;
    }

    blockquote 
    {
        border-left: 6px solid #888;
        padding-left: 7px;
        font-size: 14px;
        max-width: 90px;
    }

    p 
    {
        text-align: right;
        font-size: 18px;
        padding: 3px;
    }

    div 
    {
        max-height: 450px;
        margin: 8px;
    }

}